body {margin:0px; padding:0px; background-color:#000; font-family:'Arial Black', 'Helvetica', 'Sans-serif';}

hr {border:none;}
.coins {display:none; background:#fff; padding:5px; border-radius:5px; }
.winMessage {display:none; background-color:#fff; border:10px solid #FFEC00; border-radius:200px; max-width:70%; margin:auto; margin-top:30px; padding:50px; text-align:center;}
.lostMessage {display:none; background-color:#fff; border:10px solid #222; border-radius:200px; max-width:70%; margin:auto; margin-top:30px; padding:50px; text-align:center;}
.newGame {padding:10px; border-radius: 4px; background-color:#222; margin:auto; width:250px; margin-top:15px;}
.newGame input, .newGame .button {display:inline-block; vertical-align:middle; padding:10px; margin-right:3px; border-radius: 3px; }
.newLevelInput {background-color:#fff; border:1px solid #ddd; border-radius: 3px; }
.button {cursor:pointer;}
.goToLevelBtn {background-color:#0c0;}
.goToLevelBtn:hover {background-color:#0a0;}
.newGame .retryLevelBtn {display:none; padding:5px; margin-top:5px; font-size:.8em; background-color:#555;}
.retryLevelBtn:hover {background-color:#777;}
.power {padding:5px; border-radius:5px; display:inline-block; border:3px solid; opacity: 0.3; font-size:.8em; cursor:pointer;  }
.power:not(.active):hover {opacity: 0.8;}
.power.active {border-color:#a0a; opacity: 1;}
.finishPowerupsBtn {background-color:#0c0;  margin-top:10px; display:inline-block; padding:10px; border-radius:4px; }
.finishPowerupsBtn:hover {background-color:#0a0;}
.modal {display:none; position:absolute; top:50%; margin-top:-100px; left:50%; margin-left:-250px; width:500px; background-color:rgba(0,0,0,0.6); border-radius:10px; padding:15px; color:#fff;}
.progressBar {height:20px; background: #a0a; position:absolute; bottom:0px; border-bottom-right-radius:30px; border-top-right-radius:30px; width:100%;}

.background    { background: rgb(52, 166, 251);
				 background-image: url('../images/brushed-alum.png');
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #c00; 
				 background-image:url('../images/paper-3.png');
				 background-size:cover;}
.wall          { background: white; 
				 background-image: url('../images/brick-wall.png');
				   }

.actor  { position: absolute; }
.coin   { background: rgb(241, 229, 89); border-radius:10px; }
.player { background: rgb(64, 64, 64);  border-top-left-radius:10px; border-top-right-radius:10px;  }
.player.shielded {border:3px solid #fff; }

.wrapper {width:1100px; height:800px; left:50%; margin-left:-550px; top:50%; margin-top:-400px; position:absolute;}

.game {
  z-index:-1;
  overflow: hidden;
  width: 950px;
  height: 800px;
  position: absolute;
  left:150px;
  top:0px;
  
  
}
.leftBar {
	width:100%;
	height:800px;
	background-color:#fff;
	background-image: url('../images/brushed-alum.png');
	z-index:1;
	box-shadow:1px 1px 10px rgba(0,0,0,0.3);
	border-right:1px solid #888;
	padding:5px 10px;
	position:relative;
	top:-3px;
	text-align:center;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.bottom-right-radius{ border-bottom-right-radius: 5px;}
.bottom-left-radius{ border-bottom-left-radius: 5px;}
.top-right-radius{ border-top-right-radius: 5px;}
.top-left-radius{ border-top-left-radius: 5px;}

/*
.pulse {
	-webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
	0% {-webkit-transform: scale(0.9, 0.9);}
	50% {webkit-transform: scale(1.9,1.9);}
	100% {-webkit-transform: scale(0.9,0.9);}
}
*/